<% include partials/header %>

<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu"> <a class="toc item"><i class="sidebar icon"></i></a> <a class="active item" href="/">Cropr</a> <a class="item" href="https://github.com/philipwutang/Cropr">Source</a>
      <div class="right item"> <a class="ui inverted button" href="/logout">Log Out</a> </div>
    </div>
  </div>
  <div class="ui text container">
    <h1 class="ui inverted header">Cropr</h1>
    <h2>Photo Resizing Made Easy</h2>
  </div>
</div>

<div id="cropr" class="ui vertical stripe segment">
  <div class="ui container">
    <h3 class="header">Crop Away</h3>
    <div class="ui raised very padded container segment">
      <div class="ui grid">
        <div class="three wide column">
          <div class="ui vertical accordion menu">
            <div class="item"> <a class="active title"><i class="dropdown icon"></i>Size</a>
              <div class="active content">
                <div class="ui form">
                  <div class="grouped fields">
                    <div class="field">
                      <div class="ui right labeled input fluid"> <input type="text" id="width" placeholder="Width">
                        <div class="ui basic label">px</div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui right labeled input fluid"> <input type="text" id="height" placeholder="Height">
                        <div class="ui basic label">px</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui form">
                  <div class="grouped fields">
                    <div class="ui checkbox"> <input type="checkbox" id="freeform" name="freeform"> <label>Freeform</label> </div> <button class="compact ui basic button" id="setImageSize"><i class="icon square"></i>Set</button> </div>
                </div>
              </div>
            </div>
            <div class="item"> <a class="active title"><i class="dropdown icon"></i>Presets</a>
              <div class="active content">
                <div class="ui">
                  <div class="grouped fields">
                    <div class="field size-selector">
                      <div class="ui radio checkbox" id="square"> <input type="radio" id="1:1" name="ratio" /> <label>1:1 (Square)</label> </div>
                    </div>
                    <div class="field size-selector">
                      <div class="ui radio checkbox" id="3by2"> <input type="radio" id="3:2" name="ratio" /> <label>3:2</label> </div>
                    </div>
                    <div class="field size-selector">
                      <div class="ui radio checkbox" id="4by3"> <input type="radio" id="4:3" name="ratio" /> <label>4:3</label> </div>
                    </div>
                    <div class="field size-selector">
                      <div class="ui radio checkbox" id="hd"> <input type="radio" id="16:9" name="ratio" /> <label>16:9</label> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <label class="compact ui basic button">
            <i class="upload icon"></i>Upload
            <input id="uploadImage" type="file" name="file" accept="image/*" style="display:none">
          </label> <button class="compact ui basic button disabled">
            <a id="download">
              <i class="icon download"></i>
              Download
            </a>
          </button> <button class="compact ui basic button disabled" id="cropImage">
            <i class="icon crop"></i>
            Crop
          </button> <button class="compact ui basic button disabled" id="autoCropImage">
            <i class="icon image"></i>
            Auto Crop
          </button>
          <button class="compact ui basic button disabled" id="saveImage">
            <i class="icon save"></i>
            Save
          </button>
         </div>
        <div class="thirteen wide column">
          <div class="ui raised segment"> <img id="cropbox" src="resources/image.jpg" style="width: 100% !important" /> </div>
          <h3 class="header">Result</h3>
          <div class="ui raised segment disabled result"> <img src="resources/img_placeholder.png" id="placeholder" style="width: 100% !important" /> <canvas id="canvas" class="hidden">
          </div>
          <h3 class="header">Cropped Images</h3>
          <div class="ui raised segment disabled result" id="oldImages">
            <ul>
            <% for(var i=0; i<user.local.collection.length; i++) {%>
               <li><%= user.local.collection[i] %></li>
            <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
