
  <div class=" ui inverted vertical footer segment ">
    <div class="ui container ">
      <div class="ui stackable inverted divided equal height stackable grid ">
        <div class="three wide column ">
          <h4 class="ui inverted header ">Polar</h4>
          <div class="ui inverted link list ">
            <a href="http://polar.me/company/about-us/" class="item ">About Us</a>
            <a href="" class="item ">Toronto</a>
          </div>
        </div>

        <div class="three wide column ">
          <h4 class="ui inverted header ">Help</h4>
          <div class="ui inverted link list ">
            <a href="# " class="item ">FAQ</a>
            <a href="# " class="item ">Source Code</a>
          </div>
        </div>

        <div class="ten wide column ">
          <h4 class="ui inverted header ">Made by Polar</h4>
          <p>With Love</p>
          <i class="heart icon "></i>
        </div>
      </div>
    </div>
  </div>
</div>

<script src=smartcrop/underscore.js></script>
<script src=smartcrop/smartcrop.js></script>
<script src=smartcrop/smartcrop-debug.js></script>
<script src=script/script.js></script>
</body>

</html>
