<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />

  <!-- Site Properties -->
  <title>Cropr - Photo Resizing Made Easy</title>

  <link rel="icon" href="http://www.clker.com/cliparts/0/0/8/b/11949945231683916384crop.svg.hi.png">
  <!-- Import Stylesheets -->
  <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/master.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.Jcrop.min.css">

  <!-- Import Scripts -->
  <script src="script/jquery.min.js"></script>
  <script src="semantic/components/visibility.min.js"></script>
  <script src="semantic/components/accordion.js"></script>
  <script src="semantic/components/sidebar.min.js"></script>
  <script src="semantic/components/transition.min.js"></script>
  <script src="script/jquery.Jcrop.min.js"></script>
</head>

<body>
  <!-- Page Contents -->
