<% include partials/header %>

<div class="ui inverted vertical center aligned segment" style="padding-bottom: 2.25%">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item" href="#">Cropr</a>
      <a class="item" href="https://github.com/philipwutang/Cropr">Source</a>
      <div class="right item">
        <% if (status === true) { %>
          <a class="ui inverted button" href="/logout">Log Out</a>
        <% } else { %>
          <a class="ui inverted button" href="/login">Log In</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div id="slideshow-container">
  <div id="slideshow">
    <div class="slideshow-picture">
      <img src="resources/photo1.jpg">
    </div>
    <div class="slideshow-picture">
      <img src="resources/photo2.jpg">
    </div>
    <div class="slideshow-picture">
      <img src="resources/photo3.jpg">
    </div>
    <div class="slideshow-picture">
      <img src="resources/photo4.jpg">
    </div>
    <div class="slideshow-picture">
      <img src="resources/photo5.jpg">
    </div>
    <div class="slideshow-picture">
      <img src="resources/photo6.jpg">
    </div>
  </div>

  <div id="centerblock" class="ui text container">
    <h1 class="ui inverted header">Cropr</h1>
    <h2>Photo Resizing Made Easy</h2>
    <a id="begin" class="ui huge primary button">Begin
      <i class="right arrow icon"></i>
    </a>
  </div>
</div>

<% include partials/footer %>
