<% include partials/header %>

<div class="ui inverted vertical center aligned segment" style="padding-bottom: 2.25%">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item" href="/">Cropr</a>
      <a class="item" href="https://github.com/philipwutang/Cropr">Source</a>
      <div class="right item">
        <a class="ui inverted button" href="login">Login</a>
      </div>
    </div>
  </div>
</div>

<div style="width: 25%; margin: 10% auto;">
  <% if (message != "") { %>
    <div class="ui error message">
      <div class="header">
        <%= message %>
      </div>
      Please check your credentials.
    </div>
    <div class="alert-danger">
    </div>
  <% } %>
  <form class="ui form" action="/login" method="post">
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui button" type="submit">Login</button>
    <a class="ui button" href="/signup">Sign Up</a>
  </form>

</div>

<% include partials/footer %>
