<%-include('header')%>

  <div class="ui inverted vertical center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="#">Cropr</a>
        <a class="item">Guide</a>
        <a class="item" href="https://github.com/philipwutang/Cropr">Source</a>
        <div class="right item">
          <a class="ui inverted button" href="http://polar.me/">Visit Polar</a>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">Cropr</h1>
      <h2>Photo Resizing Made Easy</h2>
      <a id="begin" class="ui huge primary button">Begin
        <i class="right arrow icon"></i>
      </a>
    </div>
  </div>

  <div class="ui container center aligned">
    <h1>Homepage</h1>
  </div>

<%-include('footer')%>
